@use "../SASS/Main" as * ;

.mainPage{
    position: relative;
    @include size(100vw,100vh);
    @include flex(center,center);

    //*** screen tablet ***
    @include screen(lg){
        @include size(100%,100%);
        @include flex(center,start);
        overflow-x: hidden;
    }
    //*** screen mobile ***
    @include screen(sm){
        @include flex(start,start);
        padding-top: 0px;
        overflow-y: hidden;
    
}
}
